*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: hsl(229, 57%, 11%);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size:100% 50%;
    color:white;
}

.section{
    display:flex;
    margin:500px 150px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left{
    background-color:hsl(228, 56%, 26%);
    position: absolute;
    top:-100px;
    padding:50px 20px 20px 50px;
    padding-right:100px;
    border-radius:12px;
    border-top-right-radius: 100px;
    left:400px;
}

.icons{
    display:flex;
    justify-content: space-around;
    padding:25px 0 15px;
}

.icon{
    background-color: hsl(229, 57%, 11%);
    padding:10px;
    border-radius: 13px;
    margin: 0 10px;
}
.right{
    position: absolute;
    top:-50px;
    left:47rem;
    width:40%;
    border-radius:12px;
    height:145px;
    background-color: hsl(228, 56%, 26%);
    padding: 25px 40px;
    margin-left:20px ;
}

.bar{
    width:100%;
    border-radius: 10px;
    padding: 7px;
    float:center;
    background:linear-gradient(to right,hsl(6, 100%, 80%) , hsl(335, 100%, 65%) 75% ,hsl(228, 56%, 26%) 75% ,hsl(229, 57%, 11%) 100%);
    background-color: hsl(229, 57%, 11%);
}

.dot{
    padding: 6px;
    width:1%;
    border-radius: 50px;
    background-color:white;
    top:74px;
    left:71%;
    position: absolute;
}

.data{
    display:flex;
    justify-content: space-between;
}

.usage{
    font-weight:400;
    color:rgba(255,255,255,0.5);
}

span{
    color:white;
}

.bubbleBox{
    padding: 3px 20px;
    width:12%;
    position: absolute;
    top: -110px;
    left: 70%;
    background-color:white;
    border-radius:12px;
    border-bottom-right-radius: 0px;
    color:black;
    z-index:50;

    p{
        color: rgba(0,0, 0, 0.5);
        font-size:15px;
    }

}

.bold{
    font-size:40px;
    font-weight: bold;
    color:black;
    padding-right:10px ;
    // font-family:
}

.triangle{
    // size: 2rem 2rem;
    // background-color: white;
    // position: absolute;
    // top: 70px;
    // left: 74%;
    // z-index:50;
    // transform:rotate(60deg);
    // padding:15px;

    width: 0;
    height: 0;
    border-top: 30px solid white;
    border-left: 25px solid transparent;
    left: 185px;
    position: absolute;
}
