* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  text-align: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  padding: 0.2em;
  margin: 0.4em;
  font-size: 24px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 16px;
  text-align: center;
  padding: 1em 0.1em;
}

img {
  max-width: 80%;
  padding: 0.3em;
  margin: 0 1.5em;
}

header {
  margin: 1em 0.8em;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

@media (min-width: 376px) {
  header {
    margin: 2em 9.8em;
    max-width: 100%;
    width: 80%;
  }
  header .simple {
    padding: 0.1em 2.5em;
    border-radius: 1.7em;
  }
}

button {
  background-color: #ff52bf;
  color: #fff;
  padding: 0.5em 1.5em;
}

.logo {
  max-width: 30%;
}

.simple {
  padding: 0.5em 1em;
  border: 1px solid #ff8fd8;
  border-radius: 1em;
  background-color: #fff;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  width: 375px;
  margin-top: 6em;
}

.free {
  border-radius: 20px;
  border: none;
  margin: 3em 0 5em 4em;
  padding: 0.9em 2.5em;
}

.homepage {
  margin-bottom: 6em;
}

.homepage p {
  font-size: 14px;
}

.status {
  padding: 0 3em;
}

.status .left, .status .right {
  margin-bottom: 7em;
}

.status img {
  margin: 0;
}

.status p {
  text-align: left;
  padding: 0.2em;
}

.illustrate {
  margin: 10em 0;
}

.illustrate .info {
  margin-top: 4em;
}

.illustrate .info p {
  font-size: 13px;
}

.build {
  margin-bottom: 10em;
}

@media (min-width: 376px) {
  .container {
    margin: 10em auto 4em;
    max-width: 100%;
    width: 80%;
    padding: 0 7em;
  }
  h2 {
    padding: 0.1em;
    margin: 0.2em;
    font-size: 62px;
  }
  .homepage p {
    font-size: 20px;
    padding: 0;
    margin: 0 18em;
  }
  .homepage img {
    width: 80%;
    padding: 0.3em;
    margin: 0 9.5em;
  }
  .free {
    margin: 2em 0 5em 44em;
    padding: 0.9em 3.5em;
  }
  .status {
    display: flex;
    justify-content: space-around;
  }
  .illustrate {
    display: flex;
    justify-content: space-between;
    margin: 7em 0 14em;
  }
  .illustrate img {
    width: 33%;
  }
  .illustrate .bg-image {
    order: 2;
    margin: 0 2.5em 0 16em;
  }
  .illustrate .middle {
    margin: 0 2.5em 0 16em;
  }
  .illustrate .middle p {
    padding: 1em 0;
  }
  .illustrate h3 {
    text-align: left;
  }
  .illustrate .info {
    padding: 4em 5em 0 2em;
  }
  .illustrate .info p {
    text-align: left;
    font-size: 17px;
  }
  .build {
    margin-bottom: 0;
  }
  .build h3 {
    font-size: 42px;
  }
}

footer .design {
  padding: 1.4em;
  background: url(/images/bg-footer-top-mobile.svg) no-repeat;
}

footer .footer-body {
  background-color: #00252e;
  color: #fff;
  padding: 4em 1.5em 1em;
}

footer .footer-body p {
  text-align: left;
  font-size: 15px;
  line-height: 28px;
}

footer .footer-body h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

footer .footer-body img {
  color: #fff;
}

footer .footer-left input[type="text"] {
  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  margin-bottom: 1.5em;
  max-width: 100%;
  width: 350px;
}

footer .footer-left button {
  margin-left: 15em;
  border-radius: 4px;
  border: none;
  padding: 0.7em 2.5em;
}

footer .footer-right {
  margin-top: 6em;
}

footer .footer-right .contact {
  margin: 1.2em 0 0 -1.3em;
}

footer .footer-right .contact p {
  padding: 0;
}

footer .footer-right .contact img {
  padding: 0;
}

.virtual {
  margin: 2em 0;
}

.virtual .fab {
  margin: 0 0.25em;
}

.footer-logo {
  margin: 0;
  filter: invert(99%) sepia(4%) saturate(131%) hue-rotate(118deg) brightness(117%) contrast(100%);
}

@media (min-width: 376px) {
  footer .design {
    padding: 6.9em 0;
    background: url(/images/bg-footer-top-desktop.svg) no-repeat;
    background-size: cover;
  }
  footer .footer-body {
    display: flex;
    justify-content: space-between;
    padding: 5em 12em;
  }
  footer .footer-body h4 {
    font-size: 25px;
  }
  footer .footer-left {
    order: 2;
    margin: 2em 2em 2em 15em;
  }
  footer .footer-left p {
    margin-right: 18em;
  }
  footer .footer-left input[type="text"] {
    margin: 1.5em 0;
  }
  footer .footer-left button {
    margin-left: 1.5em;
    padding: 1em 2.5em;
  }
  footer .footer-right {
    margin: 1em;
  }
  footer .footer-right p {
    padding-right: 25em;
    width: 700px;
  }
  footer .footer-right .contact p {
    padding: 0.5em 0;
  }
  footer .footer-right .virtual .fab {
    margin: 0 0.5em;
  }
}
/*# sourceMappingURL=style.css.map */