body{
    background-color: hsl(233, 47%, 7%);
}

.container{
    color: white;
    width: auto;
    background-color: hsl(244, 38%, 16%);
    margin: 150px 200px;
    min-height: 300px;
    border-radius: 0.5em;
}

h1{
    color:hsl(0, 0%, 100%);
    padding-left:65px;
    padding-right:75px;
    margin-bottom: 30px;
    font-family: Inter;
    font-weight: 400;
}

.highlight{
    color: hsl(277, 64%, 61%);
}

p{
    color:hsla(0, 0%, 100%, 0.75);
    text-align: left;
    padding-left:65px;
    padding-right: 75px;
    font-size: 15px;
    line-height: 1.4em;
    font-family: Lexend Deca;
}

li{
   width: 30.3%;
   float: left;
   list-style-type: none;
   padding-right: 2px;
   font-size: 10px;
   padding-left: 10px;
}

.stats{
    padding-top: 20px;
    padding-left: 50px;
    color:hsla(0, 0%, 100%, 0.6);
}

b{
    padding-right: 50px;
    font-size: 18px;
    color: white;
}
.left{
    float: left;
    width: 50%;
    box-sizing: border-box;
    height: 300px;
    padding: 10px;
}

.right{
    float:right;
    width: 50%;
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;  
    color: hsl(228, 45%, 44%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}